.p-home article {
    margin-left: 1rem;
}
.recipes-list {
    display: flex;
    flex-wrap: wrap;
    li {
        box-sizing: border-box;
        background: rgba(240,223,180,0.25);
        padding: 0.875rem;
        flex: 1 0 100%;
        margin-top: 0.875rem;
        margin-right: 0.875rem;
        @media (min-width: $break-one){
            flex: 1 0 calc(50% - 0.875rem);
        }
    }
    img {
        width: 30%;
        float: left;
        margin-right: 0.875rem;
        @media (min-width: $break-one){
            width: 50%;
        }
    }
}

.recipe-detail-image {
    width: 100%;
}
.recipe-thumbs {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    img {
        width: 100%;
        padding: 0 0.5rem;
    }
}